<%- include('partials/sobie-start') %> <%- include('partials/sobie-nav') %> <%-
include('sobieCards/sobie-alert') %>

<div class="row pt-5">
  <div class="col-md-12"><%- include('sobieCards/sobie-jumbo') %></div>
  <div class="col-md-6 mt-2"></div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="mt-2"><%- include('sobieCards/sobie-venue') %></div>
    <div class="mt-2"><%- include('sobieCards/sobie-research') %></div>
  </div>
  <div class="col-md-6">
    <div class="mt-2"><%- include('sobieCards/sobie-registration') %></div>
    <div class="mt-2"><%- include('sobieCards/sobie-history') %></div>
  </div>

  <div class="col-md-12 mt-2"><%- include('sobieCards/sobie-jobie') %></div>
</div>

<%- include('partials/sobie-footer') %> <%- include('partials/sobie-end') %>
