<%- include('partials/sobie-start') %>
    <%- include('partials/sobie-nav') %>
        <%- include('partials/sobie-registration') %>

            <div class="container px-4">
                <div class="row">
                    <div class="col-md my-3 row g-2">
                        <form id="registration-form" novalidate>
                            <div class="bg-body-secondary p-3 rounded-3 mb-3 row g-2">
                                <h2>Contact Information</h2>
                                <!-- Name -->
                                <div class="form-floating mb-3 col-md-6">
                                    <input type="text" class="form-control" id="firstNameInput" name="firstName">
                                    <label for="firstNameInput">First Name</label>
                                    <div class="invalid-feedback">
                                        Please enter your first name
                                    </div>
                                </div>
                                <div class="form-floating mb-3 col-md-6">
                                    <input type="text" class="form-control" id="lastNameInput" name="lastName">
                                    <label for="lastNameInput">Last Name</label>
                                    <div class="invalid-feedback">
                                        Please enter your last name
                                    </div>
                                </div>
                                <!-- Email -->
                                <div class="form-floating mb-3 col-md-8">
                                    <input type="email" class="form-control" id="emailInput"
                                        aria-describedby="emailHelp" name="email">
                                    <label for="emailInput">Email address</label>
                                    <div id="emailHelp" class="form-text">Used to receive updates and for account
                                        verification</div>
                                    <div class="invalid-feedback">
                                        Please enter a valid email address
                                    </div>
                                </div>
                                <!-- Mobile -->
                                <div class="form-floating mb-3 col-md-4">
                                    <input type="tel" class="form-control" id="phoneInput" aria-describedby="mobileHelp"
                                        name="mobile">
                                    <label for="phoneInput">Mobile</label>
                                    <div id="mobileHelp" class="form-text">Used as an additional method of contact
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter a valid phone number
                                    </div>
                                </div>
                                <!-- Student or Other -->
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="isStudentToggle"
                                        name="isStudent" value="true" checked>
                                    <label class="form-check-label" for="isStudentToggle">I am a student</label>
                                </div>
                            </div>

                            <!-- Student/Faculty/Partner Section-->
                            <div class="bg-body-secondary p-3 rounded-3 mb-3">
                                <h3 id="infoTitle">
                                    Student Information
                                </h3>
                                <div id="studentCont" class="row g-2">
                                    <div class="form-floating mb-3 col-md-7">
                                        <input type="text" class="form-control" id="academicAfflInput"
                                            aria-label="University or Academic Affiliation" name="academicAffiliation">
                                        <label for="academicAfflInput">University, or Academic Affiliation</label>
                                        <div class="invalid-feedback">
                                            Please enter your affiliation
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-5">
                                        <input type="text" class="form-control" id="areaOfStudyInput"
                                            aria-label="Area of Study" name="areaOfStudy">
                                        <label for="areaOfStudyInput">Area of Study</label>
                                        <div class="invalid-feedback">
                                            Please enter your area of study
                                        </div>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <label class="form-label">Student Classification</label>
                                        <div class="d-flex flex-wrap gap-2" id="studentClassCont">
                                            <div class="btn-group flex-grow-1" role="group"
                                                aria-label="Classification options">
                                                <input type="radio" class="btn-check" name="classification"
                                                    value="Undergraduate" id="undergrad" autocomplete="off" />
                                                <label class="btn btn-outline-primary flex-grow-1"
                                                    for="undergrad">Undergraduate</label>

                                                <input type="radio" class="btn-check" name="classification"
                                                    value="Graduate" id="graduate" autocomplete="off" />
                                                <label class="btn btn-outline-primary flex-grow-1"
                                                    for="graduate">Graduate</label>

                                                <input type="radio" class="btn-check" name="classification"
                                                    value="Doctoral" id="doctoral" autocomplete="off" />
                                                <label class="btn btn-outline-primary flex-grow-1"
                                                    for="doctoral">Doctoral</label>
                                            </div>
                                            <div class="d-flex align-items-center flex-grow-1">
                                                <div class="btn-group" role="group" aria-label="Other option">
                                                    <input type="radio" class="btn-check" name="classification"
                                                        value="Other" id="other" autocomplete="off" />
                                                    <label class="btn btn-outline-primary" for="other">Other</label>
                                                </div>
                                                <div class="flex-grow-1 ms-2" id="specifyClass" style="display: none;">
                                                    <input type="text" class="form-control" id="specifyClassInput"
                                                        aria-label="Specify Classification" name="otherSpecification"
                                                        placeholder="Please Specify" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2" id="otherCont">
                                    <div class="form-floating mb-3 col-md-6">
                                        <input type="text" class="form-control" id="otherAfflInput"
                                            aria-label="University, Organization or Company Affiliation"
                                            name="affliation">
                                        <label for="otherAfflInput">University, Organization or Company
                                            Affiliation</label>
                                        <div class="invalid-feedback">
                                            Please enter your affiliation
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-6">
                                        <input type="text" class="form-control" id="jobTitleInput"
                                            aria-label="Academic Rank & Department, or Job Title" name="role">
                                        <label for="jobTitle">Academic Rank & Department, or Job Title</label>
                                        <div class="invalid-feedback">
                                            Please enter your job title
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="hasResearchToggle" name="hasResearch" value="true">
                                        <label class="form-check-label" for="hasResearchToggle">
                                            I plan to submit research to SOBIE
                                        </label>
                                    </div>
                                    <div class="form-check form-switch col-md-12" id="canSubResearchCont"
                                        style="display: none;">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="canSubResearchToggle" name="canSubResearch" value="true">
                                        <label class="form-check-label" for="canSubResearchToggle">
                                            Is your research ready to submit? (If not, email SOBIE@EMAIL your submission
                                            later)
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Research Portion -->
                            <div class="bg-body-secondary p-3 rounded-3" id="researchCont" style="display: none;">
                                <h3>Research Information</h3>
                                <div class="row g-2">
                                    <div class="col-6 mb-4">
                                        <label class="form-label">Submission Type</label>
                                        <div class="d-flex flex-wrap gap-2" id="subTypeCont">
                                            <div class="btn-group flex-grow-1" role="group"
                                                aria-label="submission options">
                                                <input type="radio" class="btn-check" name="submissionType"
                                                    value="Abstract" id="abstract" autocomplete="off" />
                                                <label class="btn btn-outline-primary flex-grow-1"
                                                    for="abstract">Abstract</label>
                                                <input type="radio" class="btn-check" name="submissionType"
                                                    value="Working Paper" id="working" autocomplete="off" />
                                                <label class="btn btn-outline-primary flex-grow-1" for="working">Working
                                                    Paper</label>
                                                <input type="radio" class="btn-check" name="submissionType"
                                                    value="Full Paper" id="full" autocomplete="off" />
                                                <label class="btn btn-outline-primary flex-grow-1" for="full">Full
                                                    Paper</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="hasCoAuthorToggle" name="hasCoAuthor" value="true">
                                        <label class="form-check-label" for="hasCoAuthorToggle">
                                            I have co-author(s).
                                        </label>
                                    </div>
                                    <div class="row g-2" id="coAuthorCont">
                                        <div class="form-floating mb-3 col-md-12">
                                            <input type="text" class="form-control" id="coAuthorInput" name="coAuthor">
                                            <label for="coAuthorInput">Authorship - Separated by commas</label>
                                            <div class="invalid-feedback">
                                                Please enter your co-author(s)
                                            </div>
                                        </div>
                                        <div class="form-check form-switch mb-3">
                                            <input type="checkbox" class="form-check-input" role="switch"
                                                id="isCoAuthorStudentToggle" name="isCoAuthorStudent" value="true">
                                            <label class="form-check-label" for="isCoAuthorStudentToggle">
                                                Is at least one co-author a student?
                                            </label>
                                        </div>
                                        <div class="col-6 mb-4" id="sessPrefCont">
                                            <label class="form-label">Which session would you prefer to present
                                                in?</label>
                                            <div class="d-flex flex-wrap gap-2" id="presPrefCont">
                                                <div class="btn-group flex-grow-1" role="group"
                                                    aria-label="presentationSessionOptions">
                                                    <input type="radio" class="btn-check" name="sessionPref"
                                                        value="Student Session" id="student " autocomplete="off" />
                                                    <label class="btn btn-outline-primary flex-grow-1"
                                                        for="student ">Student Session</label>
                                                    <input type="radio" class="btn-check" name="sessionPref"
                                                        value="Faculty Session" id="faculty" autocomplete="off" />
                                                    <label class="btn btn-outline-primary flex-grow-1"
                                                        for="faculty">Faculty
                                                        Session</label>
                                                    <input type="radio" class="btn-check" name="sessionPref"
                                                        value="No Preference" id="nopref" autocomplete="off" />
                                                    <label class="btn btn-outline-primary flex-grow-1" for="nopref">No
                                                        Preference</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-8">
                                        <input type="text" class="form-control" id="researchTitleInput"
                                            name="researchTitle">
                                        <label for="researchTitleInput">Research Title</label>
                                        <div class="invalid-feedback">
                                            Please enter your research title
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4">
                                        <input type="text" class="form-control" id="researchAreaInput"
                                            name="researchArea">
                                        <label for="researchAreaInput">Primary Area of Research</label>
                                        <div class="invalid-feedback">
                                            Please enter an area of research
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-12">
                                        <textarea class="form-control" id="researchAbsInput" style="height: 100px"
                                            name="researchAbstract"></textarea>
                                        <label for="researchAbsInput">Research Abstract</label>
                                        <div class="invalid-feedback">
                                            Please enter your research abstract
                                        </div>
                                    </div>
                                    <div class="form-check form-switch mb-3">
                                        <input type="checkbox" class="form-check-input" role="switch"
                                            id="inProceedingsToggle" name="inProceedings" value="true">
                                        <label class="form-check-label" for="inProceedingsToggle">
                                            Would you like your submission included in the SOBIE proceedings?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Form-->
                            <div class="col-12 mt-3">
                                <!-- <button type="submit" class="btn btn-primary" onclick="registrationSubmitClickHandler()">Submit</button> -->
                                <button type="button" class="btn btn-primary" onclick="registrationSubmitClickHandler()">Submit</button> 
                            </div>
                        </form>
                        <div class="modal fade" id="submitFormConfirm" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="submitFormConfirmLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="submitFormConfirmLabel">Confirm Submission</h1>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want this submit this form?</p>
                                        <table id="confirmMessageBody">
                                        </table>
                                        <br>
                                        <p>By submitting this form, you understand that you must make your own hotel
                                            accommodations.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="container d-flex justify-content-between">
                                            <div id="confirmationMessage" style="color: red;"></div>
                                            <div>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary"
                                                    id="submitForm">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Results MODAL -->
                        <div class="modal fade" id="submitFormConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="submitFormConfirmLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="submitFormConfirmLabel">Confirm Submission</h1>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to submit this form?</p>
                                        <div id="confirmMessageBody"></div> <!-- Form data will be displayed here -->
                                        <br>
                                        <p>By submitting this form, you understand that you must make your own hotel accommodations.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="container d-flex justify-content-between">
                                            <div id="confirmationMessage" style="color: red;"></div>
                                            <div>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" id="submitForm">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/sobie-footer') %>
                <%- include('partials/sobie-end') %>